<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body class="nav-fixed">
    <%- include('navbar') %>
    <div id="layoutSidenav">
        <%- include('sidenav-nav') %>
        <%- include('convert-layout') %>
    </div>
    <%- include('scripts') %>
</body>
</html>